
body {
    background-color: #e9ebee;
    font-family: "Karla", sans-serif;
    font-size: 16px;
    max-width: 100%;
    align-content: center;
    justify-content: center;
    padding: 0 10%;
}

figure {
    display: block;
    margin: 0;
}


img {
    max-width: 100%;
    max-height: 100%;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    color: #754F45;
    transition: all 0.2s;
    text-decoration: none;
}

a:hover {
    color: #F5C664;
    text-decoration: none;
}

.head-wrapper {
    display: grid;
    grid-gap: 2em;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    background-color: transparent;
    color: #1f2220;
    height: 100px;
    margin: 0 10%;
    align-self: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.header {
    grid-column: 1/2;
    height: 100px;
    align-self: end;
}

.logo {
    align-self: end;
}

.navbar {
    grid-column: 2/3;
    align-self: center;
}

.navbar-pages {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'oswald';
    font-color: #F0F5BB;
    list-style: none;
}

.pagebutt {
    margin: 0 0 0 50px;
    transform: translate(100px, 0);
    }

.portfolio-wrapper {
    display: grid;
    grid-row-gap: 5em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    justify-items: center;
}

.resume {
    padding-top: 100px;
    text-align: center;
    justify-content: center;
}

.resume-preview img {
    width: 70%;
}

.full-document {
	padding-top: 30px;
	text-align: center;
	justify-content: center;
}



.about-me {
    grid-column: 1/4;
    grid-row: 3/4;
}

.footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.footer-bar {
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    align-self: center;
    justify-content: center;
}

.fa-stack {
    justify-content: center;
}

.copyright {
    grid-row: 2/3;
    grid-column: 2/3;
    justify-content: center;
    text-align: center;
}

.worksamples {
    display: block;
    position: relative;
    width: 350px;
    height: 350px;
    align-self: center;
}

.work-preview-l {
    position: relative;
    height: 100%;
    width: auto;
    object-fit: cover;
}

.work-preview-p {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.work-description {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-10%, -10%);
    -ms-transform: translate(-10%, -10%);
    text-align: justify;
    text-justify: inter-word;
    margin: 5% 5%;
    color: white;
}

.worksamples:hover {
    background: #754F45
}

.worksamples:hover .work-preview-p,
.worksamples:hover .work-preview-l {
    background: #754F45;
    opacity: 0.1;
}

.worksamples:hover .work-description {
    opacity: 1;
    z-index: 2;
}


h1 {
    font-family: "nothing you could do";
    font-size: 30px;
    bottom: 0;
    left: 0;
    text-align: center;
}

.work-fullpage-desc {
	align-items: center;
	text-align:center;
	padding-bottom: 50px;

}

h2 {
    font-family: "oswald";
    font-size: 35px;
    text-align: center;
    padding-bottom: 50px;
        color: #69766c;
}

.full-desc {
	font-family: "karla";
	font-size: 18px;
	padding-bottom: 20px;
	text-align: center;
    width: 65%;
    margin: auto;
    word-wrap: break-word;
}

h3 {
    font-family: "oswald";
    font-size: 20px;
}

h4 {
    font-family: "karla";
    font-size: 20px;
    text-align: center;
}

.fa-inverse {
    color: #fff;
}

.fa-stack-1x {
    line-height: inherit;
}

.full-landscape-xl {
	max-width: 113%;
	transform: translate(-7%, 0);
	justfy-content: center;
	text-align: center;
	padding-bottom: 20px;
}

.full-landscape {
	max-width: 100%;
	justfy-content: center;
	text-align: center;
	padding-bottom: 20px;
}

.full-portrait {
	max-width: 85%;
	text-align; center;
	justify-content: center;
	padding-bottom: 20px;
}
